<form action="/jellybeans" method="post">

  <label>
    Flavor
    <input type="text" name="flavor">
  </label>

  <label>
    Label
    <input type="text" name="label">
  </label>

  <label>
    Popularity
    <input type="number" name="popularity">
  </label>

  <input type="submit" value="Add Jellybean">
</form>
